.canvas-container {
  position: relative;
  width: 512px;
  height: 512px;
  background-image: url(../../assets/images/canvas-background.png);

  #canvas {
    position: absolute;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
    z-index: 5;
  }
  .active-tool_pen {
    cursor: url('../../assets/images/cursor-pen.png') 0 32, auto;
  }
  .active-tool_eraser {
    cursor: url('../../assets/images/cursor-eraser.png') 0 32, auto;
  }
  .active-tool_color-picker {
    cursor: url('../../assets/images/cursor-color-picker.png') 0 32, auto;
  }
  .active-tool_paint-bucket {
    cursor: url('../../assets/images/cursor-paint-bucket.png') 0 32, auto;
  }
  #extra-canvas {
    position: absolute;
    width: 512px;
    height: 512px;
    image-rendering: pixelated;
  }
  .extra-canvas {
    z-index: 6;

    &_hidden {
      z-index: 4;
    }
  }
}
