.save-result-container {
  margin-top: 50px;

  .save-result-button {
    width: 160px;
    height: 40px;
    color: #ffffff;
    background-color: #4e5353;
    border: 2px solid #779191;
    outline: none;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      background-color: #788d8d;
      border: 2px solid #ffffff;
      box-shadow: 0px 0px 3px 0px #ffffff;
    }
  }
}
