.preview-animation-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  height: 290px;
  margin-top: 30px;

  .preview-animation-canvas-container {
    position: relative;
    width: 260px;
    height: 260px;
    border: 2px solid #63807d;
    box-sizing: border-box;
    background-image: url(../../../assets/images/canvas-background.png);

    #preview-animation-canvas {
      width: 256px;
      height: 256px;
      image-rendering: pixelated;
    }
    .full-screen-button-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      right: 0;
      width: 44px;
      height: 44px;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.3s linear;
      opacity: 1;

      .full-screen-button {
        width: 34px;
        height: 34px;
        background-color: transparent;
        border: none;
        padding: 0;
        outline: none;
        background-image: url(../../../assets/images/full-screen.svg);
        background-size: cover;
        cursor: pointer;
      }
      &_hidden {
        opacity: 0;
      }
    }
  }
  .preview-animation-fps-selector-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    #preview-animation-fps-selector-input {
      cursor: pointer;
    }
    .preview-animation-fps-indicator {
      color: #ffffff;
    }
  }
}
