.pen-size-selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 120px;
  height: 30px;

  .pen-size-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-color: #3e4242;
    border: 2px solid #779191;
    outline: none;
    transition: all 0.3s linear;

    &::after {
      content: '';
      display: block;
      background-color: #1a1f1e;
    }
    &_active {
      border: 2px solid #def5f4;
    }
  }
  .pen-size-button_1::after {
    width: 6px;
    height: 6px;
    margin-left: 1px;
  }
  .pen-size-button_2::after {
    width: 8px;
    height: 8px;
  }
  .pen-size-button_3::after {
    width: 10px;
    height: 10px;
    margin-left: -1px;
  }
  .pen-size-button_4::after {
    width: 12px;
    height: 12px;
    margin-left: -2px;
  }
}
