.canvas-frame {
  position: relative;
  width: 132px;
  height: 132px;
  margin-bottom: 10px;

  .preview-list-canvas-container {
    width: 100%;
    height: 100%;
    border: 2px solid #63807d;
    box-sizing: border-box;
    outline: none;
    padding: 0;
    cursor: pointer;
    background-image: url(../../../assets/images/canvas-background.png);

    .preview-list-canvas {
      width: 128px;
      height: 128px;
      image-rendering: pixelated;
    }
    &_active {
      border: 2px solid #ffffff;
      box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 1);
    }
  }
  .delete-canvas-frame-icon-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.4);

    .delete-canvas-frame-button {
      width: 25px;
      height: 25px;
      background-color: transparent;
      border: none;
      padding: 0;
      outline: none;
      background-image: url(../../../assets/images/trash-bin.svg);
      background-size: cover;
      cursor: pointer;
    }
  }
}
